language: node_js
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '9'
  - '8'
before_install:
  - sudo apt-get install libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev build-essential g++
script:
  - yarn run test
after_success:
  - yarn global add travis-deploy-once
  - travis-deploy-once "npm run semantic-release"
after_script:
  - yarn run coverage 
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
